.header{
    background-color: rgb(243, 87, 87);
    text-align: center;
}
.bg-2{
    background-color: rgb(38, 37, 37);
    color: white;
    padding: 17px;
    border-radius: 20px;
}

/* .well {
    background-color: #008080;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
} */